@import "tailwindcss";

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: black !important;
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
  color: black !important;
  font-size: 24px;
}
